<div class="container">

    <div class="row">
        <div class="col-md-6 col-md-offset-4 ">
            <h3 style="margin-top:50%;">Choose Date &amp; Time (IST)</h3>

            <div id="datepicker"></div>

        </div>

    </div>
</div>

<script>
    // Reference https://eternicode.github.io/bootstrap-datepicker/

    $('#datepicker').datepicker({

        daysOfWeekDisabled: "0,6",
        weekStart: 1,


    });
</script>