<div class="container">

    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <h3 >Choose Date &amp; Time (IST)</h3>

            <div id="datepicker"></div>

        </div>

    </div>
</div>

<script>

    // Reference https://eternicode.github.io/bootstrap-datepicker/

    $('#datepicker').datepicker({
    	format: "dd/mm/yyyy",
	    todayHighlight: true,
        weekStart: 1,
        daysOfWeekDisabled: "0,6"


    });
</script>